$background-dark: #373c3f;
$ebeb: #ebebeb;
$intro-gradient-light: #1fc7d4;
$intro-gradient-dark: #078aa4;
$gallery-text: #9584a3;
$gallery-text-bg: #27212c;
$gallery-arrow-bg-pink: #bc3183;
$gallery-arrow-bg-blue: #5b0fa1;
$article-title: #088ca5;
