$montserrat: "Montserrat", serif;
$quicksand: "Quicksand", serif;

@font-face {
  font-family: $montserrat;
  src: url(fonts/Montserrat-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url(fonts/Quicksand-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url(fonts/Quicksand-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url(fonts/Quicksand-Light.woff) format("woff");
  font-weight: lighter;
  font-style: normal;
}
